/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;

color: #333333;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #333333;
    font-size: 16px;
}

/* === links and button === */
a {
  
  text-decoration: none;  
}
a:hover {
    text-decoration: underline;
  }
button {
    cursor: pointer;
}

/* === links and button === */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100vw;
    min-width: 360px;
    max-width: 1440px;

    margin: 1rem 0;
  
}

header.logo {
    color: var(--primary-color);
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    font-size: 1.5rem;
    width: 90%;
    
    
}
.main_contant {
    
    width: 90%;
    
}

.container_image {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_image img {
    width: 80%;
    
    margin: 60px 0;
}

.container_text {
    font-family: 'Space Mono', monospace;
    max-width: 586px;
}

.info_text_box h1 {
    font-size: 3rem;
}

.info_text_box p {
    font-size: 1.3rem;
    margin-top: 3rem;
}

.button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 'Space Mono', monospace;
    margin: 4rem 0 10rem 0;
    width: 216px;
    height: 68px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #BDBDBD;
}

footer a{
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}